# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/project5/v16/.suo
.vs/project5/v16/Browse.VC.db
.vs/project5/v16/Browse.VC.db-shm
.vs/project5/v16/Browse.VC.db-wal
.vs/project5/v16/Browse.VC.opendb
.vs/project5/v16/ipch/AutoPCH/370925cd206ab33a/OFXCUBEMAP.ipch
.vs/project5/v16/ipch/AutoPCH/9294a40d4539d95b/MAIN.ipch
.vs/project5/v16/Solution.VC.db
.vs/project5/v16/Solution.VC.db-shm
.vs/project5/v16/Solution.VC.db-wal
.vs/slnx.sqlite
addons.make
.vs/Project5/v16/ipch/AutoPCH/29d5095b540de09/OFXCUBEMAP.ipch
.vs/Project5/v16/ipch/AutoPCH/29d5095b540de09/OFXCUBEMAP.ipch
.vs/Project5/v16/ipch/AutoPCH/caf7eecf87f9a815/OFAPP.ipch
.vs/Project5/v16/ipch/AutoPCH/ea64b49917d96914/OFAPP.ipch
.vs/Project5/v16/ipch/AutoPCH/b9f0dcce5e418863/OFXXBOXCONTROLLER.ipch
.vs/Project5/v16/ipch/AutoPCH/b9f0dcce5e418863/OFXXBOXCONTROLLER.ipch
.vs/Project5/v16/.suo
.vs/Project5/v16/ipch/AutoPCH/cb3132c8945c56f8/MAIN.ipch
*.ipch
*.tlog
*.tlog
*.lastbuildstate
*.filters
*.vcxproj
